/* vaporwave aesthetic/cyberpunk */

#login_modal {
    visibility: hidden;
    position: absolute;
    height: 99%;
    width: 99%;
    background: rgba(0,0,0,0.5);
}

#username {
    display: flex;
    flex-direction: column;
    background: rgba(149,32,208,0.9);
    position: absolute;
    top: 20%;
    left: 20%;
    height: 50%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#player_choice_area {
    width: 250px;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

#player_choice_area img {
    scroll-snap-align: center;
}

#logged_players {
    background: white;
    border-collapse: collapse;
    height: 35%;
    width: 50%;
}

table, th, td {
    border: .1rem solid black;
}

#no_or_duplicate_login_alert {
    visibility: hidden;
}

.waiting {
    animation-duration: 2s;
    animation-name: infadeout;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes infadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}