/* vaporwave aesthetic/cyberpunk */

#login_modal {
    visibility: hidden;
    position: absolute;
    height: 99%;
    width: 99%;
    background: rgba(0,0,0,0.5);
}

#username {
    display: flex;
    flex-direction: column;
    background: rgba(149,32,208,0.9);
    position: absolute;
    top: 20%;
    left: 20%;
    height: 50%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#player_choice_area {
    width: 250px;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

#player_choice_area img {
    scroll-snap-align: center;
}