/* vaporwave aesthetic/cyberpunk */

:root {
    font-size: 16px;
}

@font-face {
    font-family: virus_01;
    src: url('fonts/virus_01.ttf');
}

body {
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    font-family: virus_01;
}


#main_container {
    background-image: url('images/vw_background_2.jpg');
    height: 100%;
    background-size: cover;
    padding: 0.5% 0% .75%;
}

#RPS_title {
    font-family: virus_01;
    font-size: 4rem;
    position: relative;
    left: 0%;
    text-align: center;
}

#RPS_title::before,
#RPS_title::after {
    font-size: 4rem;
    content: attr(data-text);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
}

#RPS_title::before {
    left: 5px;
    text-shadow: -1px 0 rgba(204, 102, 188, 1);;
    animation: glitch-anim-1 2s infinite linear alternate-reverse;
}

#RPS_title::after {
    left: -5px;
    text-shadow: -1px 0 rgba(149, 32, 208, 1);
    animation: glitch-anim-2 2s infinite linear alternate-reverse;
}

#game_area {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
}

#choice_row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

#score_chat_row {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    justify-items: center;
    grid-gap: 120px;
}

@keyframes glitch-anim-1 {
    0% {
        clip-path: inset(20% 0% 15% 0%); 
    }
    20% {
        clip-path: inset(40% 0% 35% 0%); 
    }
    40% {
        clip-path: inset(60% 0% 55% 0%); 
    }
    60% {
        clip-path: inset(80% 0% 75% 0%); 
    }
    80% {
        clip-path: inset(5% 0% 10% 0%); 
    }
    100% {
        clip-path: inset(15% 0% 20% 0%); 
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip-path: inset(15% 0% 20% 0%); 
    }
    20% {
        clip-path: inset(5% 0% 10% 0%); 
    }
    40% {
        clip-path: inset(80% 0% 75% 0%); 
    }
    60% {
        clip-path: inset(60% 0% 55% 0%); 
    }
    80% {
        clip-path: inset(40% 0% 35% 0%); 
    }
    100% {
        clip-path: inset(20% 0% 25% 0%); 
    }
}

#login_modal {
    visibility: hidden;
    position: absolute;
    height: 99%;
    width: 99%;
    background: rgba(0,0,0,0.5);
}

#user_form, #logged_players {
    visibility: hidden;
}

#username {
    display: flex;
    flex-direction: column;
    background-image: url('images/modal_bg.png');
    background-size: cover;
    position: absolute;
    top: 20%;
    left: 20%;
    height: 60%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#round_picture {
    display: flex;
    flex-direction: column;
    background: rgba(149,32,208,0.9);
    position: absolute;
    top: 20%;
    left: 20%;
    height: 50%;
    width: 50%;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#player_choice_area {
    width: 250px;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

#player_choice_area img {
    scroll-snap-align: center;
}

#logged_players {
    background: white;
    border-collapse: collapse;
    height: 35%;
    width: 50%;
}

table, th, td {
    border: .1rem solid black;
}

#no_or_duplicate_login_alert {
    visibility: hidden;
}

.waiting {
    animation-duration: 2s;
    animation-name: infadeout;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes infadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#current_score_area {
    justify-items: center;
    background: rgba(204, 102, 188, 0.7);
    padding: 10%;
    height: 70%;
}

#chat_log {
    height: 80%;
    min-width: 400px;
    overflow-y: scroll;
    overflow-wrap: normal;
}

#chat_area {
    justify-items: center;
    background: rgba(204, 102, 188, 0.7);
    padding: 1%;
    height: 60%;
}

#chat_box {
    text-align: center;
}

#high_score_area{
    padding: 10%;
}

@media screen and (max-width: 1150px) {
    #RPS_title, #RPS_title::before, #RPS_title::after {
        font-size: 3rem;
    } 
}

@media screen and (max-width: 1000px) {
    #main_container {
        padding: 2%;
    }
}

@media screen and (max-width: 950px) {
    #main_container {
        padding: 5%;
        height: 100%;
        width: 100%;
        background-size: cover;
    }

    #chat_area {
        width: 50%;
        height: 90%;
    }

    #RPS_title, #RPS_title::before, #RPS_title::after {
        font-size: 2rem;
    }
}

@media screen and (max-width: 850px) {
    #choice_row {
        grid-template-columns: 3fr 1fr 3fr;
    }

    #main_container {
        padding: 10%;
        height: 100%;
        width: 100%;
        background-size: cover;
    }

    #chat_log {
        height: 60%;
    }

    #score_chat_row {
        display: grid;
        grid-template-columns: 1fr 1fr 5fr;
        justify-items: center;
        grid-gap: 60px;
    }
}

@media screen and (max-width: 700px) {
    body {
        overflow: scroll;
    }
    #score_chat_row {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
    }
    #gamer_area {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
    }
    #score_chat_row {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
    }
    #choice_row {
        display: block;
    }
    #current_score_area {
        height: 25%;
    }
    #main_container {
        padding: 5%;
    }
    #chat_area {
        width: 90%;
        height: 25%;
        padding: 5%;
    }
}

@media screen and (max-width: 525px) {
    body {
        font-size: 10px;
    }
    #username {
        width: 90%;
        left: 5%;
    }
    #win_loss_tie {
        width: 75%;
    }
}